// This file may be used to override the Sass variables used within the Trestle
// admin. It will be automatically included within all admin pages.
//
// A subset of Bootstrap and Trestle defaults can be set here.
// For a detailed overview of the customizable variables, see the file
// `frontend/theme/trestle/theme/_defaults.scss` within the Trestle source.

// Customize admin theme colors:
//

$theme-colors: (
    "primary":   #7289DA,
    "secondary": #6A5ACD
);

// // Trestle

$theme-bg-color: theme-color("primary") !default;

$sidebar-active-border-color: theme-color("secondary") !default;

// Dropdowns

$dropdown-link-active-bg: theme-color("secondary") !default;



// Forms

$input-focus-border-color: lighten(#191970, 25%) !default;
